header.li {
  width: 100%;
}

.head_icon {
  float: right;
}

.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}

.for_form {
  margin-bottom: 15px;
}

.index_btn {
  float: right;
}

h3 {
  text-align: center;
}

.prof_img {
  max-height: 25px;
  max-width: 25px;
  float:left;
}

.user_name {
  float: left;
}

.clear {
  clear: both;

}